[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
django-configurations = "*"
gunicorn = "*"
newrelic = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-model-utils = "*"
django-unique-upload = "*"
djangorestframework = "*"
django-filter = "*"
django-storages = {extras = ["google"], version = "*"}
boto3 = "*"
Django = "*"
Pillow = "*"
Markdown = "*"
crispy-tailwind = "*"
django-crispy-forms = "*"
django-environ = "*"
google-cloud-secret-manager = "*"

[dev-packages]
ipdb = "*"
ipython = "*"
mkdocs = "*"
flake8 = "*"
mock = "*"
factory-boy = "*"

[requires]
python_version = "3.10"
