{% extends 'theme/base.html' %}

{% block content %}
{% if user.is_anonymous %}
Log in to see more details!
{% else %}
<h1 class="text-2xl">Bikes</h1>
{% if bikes %}
<table class="table-auto">
<thead>
<tr class="bg-blue-200">
<th>Make</th>
<th>Model</th>
<th>Serial Number</th>
<th>Status</th>
</tr>
</thead>
<tbody>
{% for bike in bikes %}
<tr>
<td>{{ bike.make }}</td>
<td><a class="text-underline text-blue-600 hover:text-blue-700" href="{{ bike.get_absolute_url }}">{{ bike.model }}</a></td>
<td>{{ bike.serial_number }}</td>
<td>{{ bike.status }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<strong>No bikes found!</strong>
{% endif %}
{% endif %}
{% endblock %}
